//====================================================================================================
.popup {
	-webkit-overflow-scrolling: touch;
	background-color: rgba(0,0,0,0.8);
	display: none;
	position: fixed!important;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 100;
	&.active{
		.popup-content{@include scale(1);}
	}
	&.show{display: block;
		.popup-content{@include scale(1);}
	}
}
.popup-table{height: 100%;table-layout: fixed;
	>.cell{height: 100%;vertical-align: middle;padding: 30px 10px;}
}
.popup-content {
	@include scale(0);
	@include anim(0.3s, 0s);
	position: relative;
	padding: 10%;
	max-width: 1230px;
	margin: 0px auto;
	background-color: #fff;
}

.popup__txt{
	font-size: 16px;
	color: rgb(39, 39, 39);
}
.popup-close {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 20px;
	right: 30px;
	cursor: pointer;
}
.popup-video{
	.popup-close{width: 40px;height: 40px;background-color: #000;top: 0;right: 0;}
}
.popup-video__value{max-width: 99%;height: 99%;border: none;
	iframe{position: fixed;top: 50%;left: 50%;width: 100%;min-height: 100%;height: auto;transform: translateX(-50%) translateY(-50%);background-size: cover;}
}

//==================popup close icon==================//

.popup-close-icon {
  display: block;
	z-index: 3;
	position: relative;
}

.popup-close-icon {
  display: block;
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.popup-close-icon:before,
.popup-close-icon:after {
  content: "";
  background-color: #828282;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}
.popup-close-icon:before {
  top: 0;
}
.popup-close-icon:after {
  bottom: 0;
}
.popup-close-icon:before {
  transform: rotate(45deg);
  top: 9px;
}
.popup-close-icon:after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.popup-close-icon {
  &:hover {
    transform: rotate(-180deg);
    -webkit-transition: transform 0.4s ease;
    -moz-transition: transform 0.4s ease;
    -ms-transition: transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
  }
}
//========================================//


//====================================================================================================
//====================================================================================================

