.slick-slide{
	display: flex;
	justify-content: space-between;
}
.slick-prev, .slick-next{
	width: 40px;
	height: 40px;
	margin: 2px;
	background-color: rgba(255, 255, 255, 0.397);
	transition: ease 0.3s;
	&:hover{
		background-color: rgba(0, 0, 0, 0.10);
	}
}
.slick-dots{
	position: absolute;
	right: 0px;
	bottom: 170px;
	text-align: right;
	@media (max-width:768px){
		display: none;
	}
}
.slick-dots button{
	width: 20px;
	height: 2px;
	background-color: rgb(32, 32, 32);
	font-size: 0;
	transition: ease 0.3s;
	transform-origin: right;
	&:hover{
		background-color: #FF4D00;
	}
}
.slick-dots li[class="slick-active"] button{
	background-color: #FF4D00;
	transform: scaleX(1.3);
}
.slick-prev{
	position: absolute;
	bottom: 50px;
	right: 45px;
	z-index: 1;
}
.slick-next{
	position: absolute;
	bottom: 50px;
	right: 0px;
	z-index: 1;
}
.mainslider-arrows{
	z-index: 1;
	@media (max-width:768px){
		display: none;
	}
}
.mainslider__img{
	margin-right: 100px;
	@media (max-width:425px){
		margin: 10px;
		padding: 0px;
		width: 200px;
		width: 400px;
		height: auto;
	}
}
.mainslide__buttons{
	display: flex;
	align-items: center;
	margin-top: 40px;
}

.mainslide__button{
	margin-right: 20px;
	letter-spacing: 0.105em;
	text-transform: uppercase;
	font-size: 14px;
	padding: 16px 30px;
	color: #fff;
	background-color: #000;
	transition: ease 0.3s;
	&:hover{
		background-color: rgb(65, 65, 65);
	}
}
.mainslide__title{
	padding-bottom: 10px;
}
.mainslide__text{
	padding-top: 30px;
	padding-bottom: 10px;
}
.mainslide__body{
	display: flex;
	flex-direction: column;
}
/*
.mainslide__link a{
	display: block;
	width: 40px;
	height: 40px;
	transition: ease 0.3s;
	&:hover{
		background-color: rgba(0, 0, 0, 0.10);
		
	}
}
*/
.mainslide__link{
	display: block;
	width: 40px;
	height: 40px;
	transition: ease 0.3s;
	&:hover{
		background-color: rgba(0, 0, 0, 0.10);
	}
}
.work__content{
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	@media (max-width:1100px){
		display: block;
		width: 100%;
	}
}

@media (max-width:1100px){
	.works__slider-colomn{
		display: block;
	}
	.mainslide__buttons{
		margin-top: 20px;
		margin-bottom: 30px;
	}
	.mainslide__title{
		padding-top: 40px;
		@media (max-width:425px){
			padding-top: 10px;
		}
	}
	.mainslide__text{
		padding-top: 0;
	}
}
